.nav1{
    background: linear-gradient(to bottom,red, rgb(255, 0, 234));
    width: 100%;
    height: 80px;
    
}
h1{
    color: blueviolet;
    font-size: 30px;
   margin-left: 40px;
   font-family: 'Audiowide', cursive;
}
h4{
    color: rgb(40, 40,40);
    margin-left: 40px;
    align-items:end;
    margin-top: -20px;
    font-family: 'Allura', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Dancing Script', cursive;

}
tr{
    font-size: 34px;
}
.nihat1{
    width: 80px;
    height: 60px;
    margin-bottom: -9px;

}
.ennagi{
    text-decoration: none;
}
.niko{
    text-decoration: none;
}
.nihatp{
    width:80px;
    height: 60px;
    margin-bottom: -9px;
}
.nav2{
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom,#b03522,#c5187c);
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
   
}
.didi1{
    width: 20%;
    height: 100px;
    margin-top: 20px;
    margin-left: 25px;
}
.didi2{
    width: 40%;
    height: 100px;
    
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
}
h2{
    font-size: 29px;
    font-family: 'Audiowide', cursive;
    color:#49050c ;
}
.divo{
    display: flex;
}
.puma{
    width: 30%;
    height: 150px;
    display: flex;
}
.cool i{
    font-size: 30px;
    color: #211a43;
    padding-left: 75px;
    padding-top: 50px;
}
